.forumInfo {
    width: 100%;
    height: 100%;
    font-family: '黑体';
}
.forumInfo1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #F6F7F9;
    flex-direction: column;
    align-items: center;
}
.forumInfo2 {
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
}
.forumInfo3 {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.forumInfo4 {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.forumInfo5 {
    margin-top: 20px;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}
.forumInfo6 {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
}
.forumInfo7 {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
.forumInfo8 {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    min-height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D6E4E6;
}
.forumInfo9 {
    text-align: center;
}
.forumInfo9>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}